extends layout

block content
    h1 AppDynamics Controller Connect - Controller

    if results.length
        table.table.table-striped
            thead
                tr
                    th ID
                    th Controller Name
                    th Client ID
                    th Actions
            tbody
                each result in results
                    tr
                        td= result.id
                        td= result.controller_name
                        td
                            form(action='/controllers/' + result.id method='GET')
                                button.btn.btn-primary(type='submit') View Controller
                            br
                            form(action='/controllers/edit/' + result.id method='GET')
                                button.btn.btn-primary(type='submit') Edit Controller
    else
        p No results found.

    form(action='/controllers/add' method='GET')
        button.btn.btn-primary(type='submit') Add Controller
