extends layout

block content
  h1 #{title}
  form(method='POST', action='/users/edit/'+query)
    .form-group
      label User Email:
      input.form-control(name='user_email', type='text', value=results.user_email)
    .form-group
      label User Password:
      input.form-control(name='user_pass', type='text', value=results.user_pass)
    br
    input.btn.btn-primary(type='submit', value='Submit')