extends layout

block content
  h1 AppDynamics Controller Connect - User CRUD
  p
    if results.length
        ul.list-group
            each result in results
                li.list-group-item
                    a(href='/users/'+result.id)= result.user_email
    else
        p No results found.

    a.btn.btn-primary(href='/users/add') Add User

